<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.catalin.mybets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".vistas.ContextCreator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".vistas.pantallas.elegirOponentes.PantallaElegirOponentes"
            android:screenOrientation="portrait"
            android:theme="@style/MyBetsThemeMorado" />
        <activity
            android:name=".vistas.pantallas.iniciarSesion.IniciarSesionPantallaPrincipal"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.pantallas.principal.PantallaPrincipal"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MyBetsThemeMorado" />
        <activity
            android:name=".vistas.pantallas.apostar.PantallaApostar"
            android:theme="@style/MyBetsThemeMorado" />
        <activity
            android:name=".vistas.pantallas.perfil.PerfilUsuario"
            android:theme="@style/MyBetsThemeMorado" />
        <activity android:name=".vistas.pantallas.perfil.EditarPerfil"
            android:theme="@style/MyBetsThemeMorado"/>
    </application>

</manifest>